<script setup lang="ts">
import { ref } from "vue";
const count1 = ref(0);
const count2 = ref(0);
function inc() {
  count1.value++;
  count2.value = count1.value * 2;
}
function dec() {
  if (count1.value != 0 && count2.value != 0) {
    count1.value--;
    count2.value -= 2;
  }
}
</script>
<template>
  <v-row>
    <v-col>
      <div>
        <h3>First Component</h3>
        <div>{{ count1 }}</div>
        <v-btn @click="inc()">INCREMENT</v-btn>
      </div>
    </v-col>
    <v-col>
      <div>
        <h3>Second Component</h3>
        <div>{{ count2 }}</div>
        <v-btn @click="dec()">DECREASE</v-btn>
      </div>
    </v-col>
  </v-row>
</template>
