<script lang="ts" setup>
import { ref } from "vue";
const feel = ref("Angry");
const swithFace = (feeling: string) => {
  feel.value = feeling;
};
</script>
<template>
  <v-row>
    <v-col>
      <div v-if="feel === 'Angry'">
        <v-img src=".\feeling_imgs\angry.png" alt="cover" />
      </div>
      <div v-else-if="feel === 'Cute'">
        <v-img src=".\feeling_imgs\cute.png" alt="cover" />
      </div>
      <div v-else-if="feel === 'Excited'">
        <v-img src=".\feeling_imgs\excited.png" alt="cover" />
      </div>
      <div v-else-if="feel === 'Pain'">
        <v-img src=".\feeling_imgs\pain.png" alt="cover" />
      </div>
      <div v-else-if="feel === 'Shocked'">
        <v-img src=".\feeling_imgs\shocked.png" alt="cover" />
      </div>
      <div v-else-if="feel === 'Smile'">
        <v-img src=".\feeling_imgs\smile.png" alt="cover" />
      </div>
    </v-col>
    <v-col>
      <div class="text-center">
        <v-container>
          <h2>{{ feel }}</h2>
        </v-container>
        <v-container>
          <v-btn
            @click="swithFace('Angry')"
            :color="feel === 'Angry' ? 'yellow' : 'none'"
            block
            >ANGRY</v-btn
          >
        </v-container>
        <v-container>
          <v-btn
            @click="swithFace('Cute')"
            :color="feel === 'Cute' ? 'yellow' : 'none'"
            block
            >CUTE</v-btn
          >
        </v-container>
        <v-container>
          <v-btn
            @click="swithFace('Exited')"
            :color="feel === 'Exited' ? 'yellow' : 'none'"
            block
            >EXCITED</v-btn
          >
        </v-container>
        <v-container>
          <v-btn
            @click="swithFace('Pain')"
            :color="feel === 'Pain' ? 'yellow' : 'none'"
            block
            >PAIN</v-btn
          >
        </v-container>
        <v-container>
          <v-btn
            @click="swithFace('Shocked')"
            :color="feel === 'Shocked' ? 'yellow' : 'none'"
            block
            >SHOCKED</v-btn
          >
        </v-container>
        <v-container>
          <v-btn
            @click="swithFace('Smile')"
            :color="feel === 'Smile' ? 'yellow' : 'none'"
            block
            >SMILE</v-btn
          >
        </v-container>
      </div>
    </v-col>
  </v-row>
</template>

<style scoped></style>
