<script lang="ts" setup>
import { ref } from "vue";
const input = ref("0");
const a = ref(0);

const Count = () => {
  a.value = input.value == "" ? 0 : parseInt(input.value);
};
</script>

<template>
  <v-row>
    <v-col cols="12">
      <v-text-field
        label="Please input number"
        filled
        v-model="input"
        required
        :rules="[(v) => !!v || 'Number is not empty!!']"
        @update:model-value="Count()"
      ></v-text-field>
      <v-row style="height: 50vh">
        <v-col :cols="1" v-for="counting in a" :key="counting">
          <div style="text-align: center">
            {{ counting }}
          </div>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>
